/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.text-center{
  text-align: center;
}

.formField input,select{
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 12px;
  text-decoration-color: white;
}

textarea{
  width: 100%;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 15px;
}

input, select{
  border-radius: 15px;
  border: 3px solid #cccccc;
  width: 100%;
}


.formBackground{
  background-color: #1466a8; /*#28A745*/
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px 50px;
  height: 100%;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
}

.formBackground h3, label, ul, li{
  color: white;
}

.widgetBackground p, h3, h4, hr, label{
  color: white;
}

.widgetBackground{
  background-color: #1466a8; /*#28A745*/
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
}
.widgetBackground table{
  border-radius: 25px;
}