{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" type="text/css" href='{% static "css/dashboard.css" %}'>
<body>

    {% include "navbar_home.html" %}  

    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
        <h2>Welcome to ReviewBook</h2>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
      <div class="row">
        <!-- Begin add book widget -->
        <div class="col-sm-6 widgetBackground">
          <div class="row text-center">
            <h4>Popular Books</h4>
          </div>
            {% if books is not None %}
               {% for book in books%}
               <p>{{ book.title }} | {{ book.author }} | {{ book.genre }}</p>
               {% endfor %}
            {% else %}
               <p>no books</p>
            {% endif %}
        </div>
        <!-- End add book widget -->
      </div>
    </main>
    
  </body>

{% endblock %}

