<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">ReviewBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% if auth %}
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        {% endif %}
      </ul>

      {% if auth %}
        <a href="{% url 'logout' %}" class="btn btn-outline-success my-2 my-sm-0">logout</a>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">login</a>
      {% endif %}
      }
    </div>
  </nav>
</header>