{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" type="text/css" href='{% static "css/dashboard.css" %}'>
<body>

    {% include "navbar_dash.html" %}

    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
        <h2>Welcome to ReviewBook, {{ name }}</h2>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
      <div class="row">
        <!-- Begin add book widget -->
        <div class="col-sm-6 widgetBackground">
          <div class="row">
            <a href="{% url 'add_book' %}" ><img class="float-left" src="https://img.icons8.com/color/48/000000/add.png"></a>
          </div>
            {% if books is not None %}
               {% for book in books%}
               <p>{{ book.title }} | {{ book.author }} | {{ book.genre }}</p>
               {% endfor %}
            {% else %}
               <p>no books</p>
            {% endif %}
        </div>
        <!-- End add book widget -->
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">ReviewBook</span>
      </div>
    </footer>

    
  </body>

{% endblock %}