{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" type="text/css" href='{% static "css/dashboard.css" %}'>
<body>

    {% include "navbar_dash.html" %}

    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
        <h2>Welcome to ReviewBook, {{ name }}</h2>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
      <div class="row">
        <!-- Begin add book widget -->
        <div class="col-sm-5 widgetBackground">
          <div class="row">
            <h3>{{ name }}'s Library:</h3>
          </div>
            {% if books is not None %}
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books%}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'book_profile' book.title %}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
           {% else %}
               <p>no books</p>
            {% endif %} 
            <div class="row mt-2">
              <div class="col-sm-6">
                <a class="btn btn-outline-light btn-lg btn-block" href="{% url 'add_book' %}" >Add Books</a>
              </div>
              <div class="col-sm-6">
                <a class="btn btn-success btn-lg btn-block" href="{% url 'dwnld_csv' %}">CSV Export</a>
              </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6 widgetBackground">
          <div class="row">
            <h3>{{ name }}'s Ratings:</h3>
          </div>
            {% if ratedbooks is not None %}
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Rating</th>
                <th scope="col">Review/Description</th>
              </tr>
            </thead>
            <tbody>
              {% for book in ratedbooks%}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'book_profile' book.title %}">{{ book.title }}</a></td>
                <td>{{ book.rating }}</td>
                <td>{{ book.review_desc }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
           {% else %}
               <p>no books</p>
            {% endif %} 
        </div>
        <!-- End add book widget -->
      </div>
    </main>
  </body>

{% endblock %}