{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" type="text/css" href='{% static "css/dashboard.css" %}'>
<body>

   {% include "navbar_dash.html" %}

    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
        <h2>User Profile: {{ name }}</h2>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
      <div class="row">
        
      </div>
      <div class="row">
        <div class="col-sm-4">
          <a href="{% url 'change_pass' %}" class="btn btn-primary btn-lg btn-logout btn-block"> Change Password</a>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">ReviewBook</span>
      </div>
    </footer>

    
  </body>

{% endblock %}